@using EStore.Shared.Models
<div class="row">
    <div class="col">
        @product.Name
    </div>
    <div class="col">
        @product.Id
    </div>
    <div class="col">
        @product.Price
    </div>

</div>


@code {
    [Parameter]
    public Product product { get; set; }
}
