<div class="container">
<footer class="container-fluid mt-3 bg-light">
    <div class="row">
        <div class="col-md-2 col-6 offset-md-3 offset-md-1">
            <h6>About US</h6>
            <ul>
                <li><a href="about.html">About</a></li>
                <li><a href="#">Policies</a></li>
                <li><a href="#">Rates</a></li>
                <li><a href="#">Developers</a></li>
            </ul>
        </div>
        <div class="col-md-2 col-6 offset-md-1">
            <h6>Contact Us</h6>
            <ul>
                <li>Address:<small>Lahore,Pakistan</small></li>
                <li>Phone#: <small>0800-0000</small></li>
                <li><a href="#">Give Feedback</a></li>

            </ul>
        </div>
        <div class="col-md-2 col-12 offset-md-1">
            <h6>Follow us on</h6>
            <a href="#"><i id="facebook" class="fab fa-facebook-f"></i></a>
            <a href="#"><i id="twitter" class="fab fa-twitter"></i></a>
            <a href="#"><i id="linkedin" class="fab fa-linkedin-in"></i></a>
            <a href="#"> <i id="youtube" class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href="#"><i id="google_plus" class="fa fa-google-plus" aria-hidden="true"></i> </a>
        </div>
    </div>
    <hr>
    <div class="blockquote text-center">
        <p class="mb-0">
            &copycopyright@eStore 2021
        </p>
    </div>
</footer>

<!-- footer code ends here -->
		</div>