@inherits LayoutComponentBase

<div class="page" style="background-color:lightblue;">


    <div class="main">

        <div class="content px-4">
            <NavigationLinks>
            </NavigationLinks>

            <Header></Header>
    @Body
</div>
    </div>
</div>
