 <!-- navbar code starts here -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navigation">
    <a href="index.html" class="navbar-brand text-center d-lg-none text-danger text-uppercase">eStore</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">


            <li class="nav-item px-3">
                <NavLink class="nav-link" href="#">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="Aboutus">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> About US
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="ContactUS">
                    <span class="oi oi-contrast" aria-hidden="true"></span> Contact US
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="Login">
                    <span class="oi oi-contrast" aria-hidden="true"></span> Login
                </NavLink>

            </li>


            <li class="nav-item">
                <NavLink class="nav-link" href="SignUp">
                    <span class="oi oi-contrast" aria-hidden="true"></span> SignUp
                </NavLink>
                <a class="nav-link" href="signup.html"></a>
            </li>
            <li class="nav-item">
            </li>

            <li class="nav-item">
                <NavLink class="nav-link" href="AddProduct">
                    <span class="oi oi-contrast" aria-hidden="true"></span> Add Product
                </NavLink>
                <a class="nav-link" href="AddProduct"></a>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="LoginDashboard">
                    <span class="oi oi-contrast" aria-hidden="true"></span> Admin
                </NavLink>
                <a class="nav-link" href="LoginDashboard"></a>
            </li>
        </ul>
        <!-- <button type="button" id="nav_login_btn" class="btn btn-primary d-none d-md-block "><a
            href="login.html">Login</a></button>
        <button type="button" id="nav_signUp-btn" class="btn btn-success ml-3 mr-2 d-none d-md-block"><a
                href="#">SignUp</a></button> -->
    </div>

</nav>
@code {

}
