<h1>Clothes Specials</h1> <!-- j -->
<div id="products" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="row">
                <div class="col-lg-2 col-4 d-inline-block products">
                    <div class="card" style="width: 11rem;">
                        <img src="images/17.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ic1</h5>
                            <p class="card-text">Price.</p>
                            <a href="#" class="btn text-danger">Rs.1500</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-4 d-inline-block products">
                    <div class="card" style="width: 11rem;">

                        <img src="images/12.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ic2</h5>
                            <p class="card-text">Price.</p>
                            <a href="#" class="btn text-danger">Rs.1700</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-4 d-inline-block products">
                    <div class="card" style="width: 11rem;">

                        <img src="images/13.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ic3</h5>
                            <p class="card-text">Price.</p>
                            <a href="#" class="btn text-danger">Rs.2500</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-4 d-inline-block products">
                    <div class="card" style="width: 11rem;">

                        <img src="images/14.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ic4</h5>
                            <p class="card-text">Price.</p>
                            <a href="#" class="btn text-danger">Rs.1500</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-4 d-inline-block products">
                    <div class="card" style="width: 11rem;">
                        <img src="images/16.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ic5</h5>
                            <p class="card-text">Price.</p>
                            <a href="#" class="btn text-danger">Rs.1700</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-4 d-inline-block products">
                    <div class="card" style="width: 11rem;">
                        <img src="images/17.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ic6</h5>
                            <p class="card-text">Price.</p>
                            <a href="#" class="btn text-danger">Rs.2500</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        




        
        


        
            
            <a href="#products" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#products" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
            <a href="#products"></a>
        </div>
       
        
    </div>
















@code {

}
